*.py[co]


files/LX/Firmware-Base
files/LX/surgeon.lx.cbf
files/LX/surgeon.cbf

files/Lpad/firmware/*
files/Lpad/surgeon.lpad.cbf
files/Lpad/surgeon.cbf

files/Didj/bootloader-LF_LF1000
files/DIdj/firmware-LF_LF1000
files/Downloads/*
!files/Downloads/doom


.project
.pydevproject

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

